<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AddCustomer</title>
</head>
<body>
    <div class="main">
        <form action="/AddCustomer" method="post">
            <input type="text" name="firstName" value="" placeholder="First Name"/>
            <input type="text" name="lastName" value="" placeholder="Last Name"/>
            <input type="text" name="email" value="" placeholder="Email"/>
            <input type="text" name="phone" value="" placeholder="Phone Number"/>
            <button>Submit</button>
        </form>
    </div>
    <h1><a href="/Customers">Customers</a></h1>
</body>
</html>